In [1]:
import warnings 
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

In [3]:
df=pd.read_csv("D:\CODSOFT\SMS\spam.csv",encoding='latin1')

In [4]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [5]:
df.tail()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [7]:
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [8]:
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [9]:
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis=1,inplace=True)

In [10]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [11]:
df.rename(columns={"v1":"label","v2":"message"},inplace=True)
df

     label                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [12]:
df=df[['message','label']]
df.head()

                                             message label
0  Go until jurong point, crazy.. Available only ...   ham
1                      Ok lar... Joking wif u oni...   ham
2  Free entry in 2 a wkly comp to win FA Cup fina...  spam
3  U dun say so early hor... U c already then say...   ham
4  Nah I don't think he goes to usf, he lives aro...   ham

In [13]:
df.isnull().sum()

message    0
label      0
dtype: int64

In [14]:
df[df.duplicated()==True]

                                                message label
102   As per your request 'Melle Melle (Oru Minnamin...   ham
153   As per your request 'Melle Melle (Oru Minnamin...   ham
206   As I entered my cabin my PA said, '' Happy B'd...   ham
222                              Sorry, I'll call later   ham
325                    No calls..messages..missed calls   ham
...                                                 ...   ...
5524  You are awarded a SiPix Digital Camera! call 0...  spam
5535  I know you are thinkin malaria. But relax, chi...   ham
5539                         Just sleeping..and surfing   ham
5553                        Hahaha..use your brain dear   ham
5558                             Sorry, I'll call later   ham

[403 rows x 2 columns]

In [15]:
i=df[df.duplicated()==True].index
df.drop(i,axis=0,inplace=True)

In [16]:
df[df.duplicated()==True]

Empty DataFrame
Columns: [message, label]
Index: []

In [17]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

In [18]:
y=lb.fit_transform(df['label'])
df.head()

                                             message label
0  Go until jurong point, crazy.. Available only ...   ham
1                      Ok lar... Joking wif u oni...   ham
2  Free entry in 2 a wkly comp to win FA Cup fina...  spam
3  U dun say so early hor... U c already then say...   ham
4  Nah I don't think he goes to usf, he lives aro...   ham

In [19]:
tfidf=TfidfVectorizer()
x=tfidf.fit_transform(df['message'])

In [20]:
x.shape

(5169, 8672)

In [21]:
y.shape

(5169,)

In [22]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=26)

In [23]:
x_train.shape

(4135, 8672)

In [24]:
model=LogisticRegression()

In [25]:
model.fit(x_train,y_train)

LogisticRegression()

In [26]:
x_predict=model.predict(x_test)

In [27]:
accuracy_LogisticRegression=accuracy_score(x_predict,y_test)

In [28]:
from sklearn.naive_bayes import MultinomialNB
NB=MultinomialNB()

In [29]:
NB.fit(x_train,y_train)

MultinomialNB()

In [30]:
x_predict_NB=NB.predict(x_test)

In [31]:
accuracy_NB=accuracy_score(x_predict_NB,y_test)

In [32]:
print("Logistic Regression:",accuracy_LogisticRegression)
print("MultinomialNB",accuracy_NB)

Logistic Regression: 0.9642166344294004
MultinomialNB 0.9642166344294004